<h1>Welcome to my page</h1>

<% if logged_in? %>
    <h3>You are Logged In, <%= current_user.username %></h3>
<%end%>

<%= button_to "Login", '/login', method: :get%><br>
<%= button_to "Sign Up", '/users/new', method: :get%>

